Repository GoToSwiss/frontend, pull requests merged in 2025-05, with the labels that each got.

#28 Feat: 맵 클러스터링 작업 및 관측소 api 연결
  .eslintrc.json
  package-lock.json
  package.json
  src/api/index.ts
  src/assets/map/cluster.svg
  src/features/map/components/ClusteredMarkers.tsx
  src/features/map/components/DateSelection.tsx
  src/features/map/components/FeatureMarker.tsx
  src/features/map/components/FeaturesClusterMarker.tsx
  src/features/map/components/InfoWindow.tsx
  src/features/map/components/SideLeftPanel.tsx
  src/features/map/components/SideRightPanel.tsx
  src/features/map/components/TimeSelection.tsx
  src/features/map/components/marker-pin-svg.tsx
  src/features/map/components/marker-svg.tsx
  src/features/map/hooks/use-map-viewport.tsx
  src/features/map/hooks/use-supercluster.tsx
  src/features/map/query/air.query.ts
  src/features/map/query/station.query.ts
  src/features/map/store/useDateRangeStore.tsx
  src/features/map/store/useStationStore.tsx
  src/features/map/types/CoordType.ts
  src/global.css
  src/pages/GoogleMap.tsx
  src/types/globalTypes.ts
  vite.config.ts
Labels: ✨ feat

#27 fix: 업로드 페이지 레이아웃 수정
  package-lock.json
  package.json
  src/dummy.ts
  src/features/upload/components/ChartFilter.tsx
  src/features/upload/components/DataFilter.tsx
  src/features/upload/components/LineChart.tsx
  src/features/upload/components/LineChartFilter.tsx
  src/features/upload/components/Mapping.tsx
  src/features/upload/components/PlotFigure.tsx
  src/features/upload/components/Step.tsx
  src/features/upload/components/UploadComponent.tsx
  src/features/upload/components/VisualizationCard.tsx
  src/features/upload/components/WhiteBox.tsx
  src/features/upload/components/Windrose.tsx
  src/features/upload/store/useFileStore.tsx
  src/features/upload/store/useFilterStore.tsx
  src/features/upload/store/useStepStore.tsx
  src/features/upload/types/uploadType.ts
  src/pages/Upload.tsx
Labels: ✨ feat, 🔨 fix

#32 feat: 꺾은선 그래프 로직 강화
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/features/upload/components/LineChart.tsx
  src/features/upload/components/LineChartFilter.tsx
  src/features/upload/components/PlotFigure.tsx
  src/features/upload/components/Step.tsx
  src/features/upload/components/UploadComponent.tsx
  src/features/upload/components/VisualizationCard.tsx
  src/features/upload/components/chart/LineChart.tsx
  src/features/upload/components/chart/Windrose.tsx
  src/features/upload/components/filter/ChartFilter.tsx
  src/features/upload/components/filter/DataFilter.tsx
  src/features/upload/components/filter/LineChartFilter.tsx
  src/features/upload/store/useFileStore.tsx
  src/features/upload/store/useFilterStore.tsx
  src/features/upload/store/useStepStore.tsx
  src/features/upload/types/uploadType.ts
  src/pages/Upload.tsx
Labels: ✨ feat, 🔨 fix

#34 feat: windrose 시각화 로직 완성
  src/dummy.ts
  src/features/upload/components/chart/CBPF.tsx
  src/features/upload/components/filter/CBPFFilter.tsx
  src/features/upload/components/filter/ChartFilter.tsx
  src/features/upload/components/filter/DataFilter.tsx
  src/features/upload/store/useFilterStore.tsx
  src/pages/Upload.tsx
Labels: ✨ feat, 🔨 fix

#38 Feat/add chart logic
  src/features/upload/components/Step.tsx
  src/features/upload/components/UploadComponent.tsx
  src/features/upload/components/VisualizationCard.tsx
  src/features/upload/components/chart/LineChart.tsx
  src/features/upload/components/filter/CBPFFilter.tsx
  src/features/upload/components/filter/ChartFilter.tsx
  src/features/upload/components/filter/DataFilter.tsx
  src/features/upload/components/filter/LineChartFilter.tsx
  src/features/upload/store/useFilterStore.tsx
  src/features/upload/store/useStepStore.tsx
  src/pages/Upload.tsx
Labels: ✨ feat

#44 Feat: 꺽은선 그래프 맵에 추가
  package-lock.json
  package.json
  src/features/map/components/AirLegend.tsx
  src/features/map/components/AirLineChart.tsx
  src/features/map/components/AirSelection.tsx
  src/features/map/components/ClusteredMarkers.tsx
  src/features/map/components/InfoWindow.tsx
  src/features/map/components/MeanAirInformation.tsx
  src/features/map/components/RightPanelContent.tsx
  src/features/map/components/SideLeftPanel.tsx
  src/features/map/components/SideRightPanel.tsx
  src/features/map/query/air.query.ts
  src/features/map/store/useDateRangeStore.tsx
  src/features/map/store/usePanelStore.tsx
  src/features/map/store/useSelectedAirTypeStore.tsx
  src/features/map/types/AirSelectType.ts
  src/pages/GoogleMap.tsx
Labels: ✨ feat, ♻️ refactor

#45 fix: upload ui 수정
  src/features/upload/components/UploadComponent.tsx
  src/features/upload/components/VisualizationCard.tsx
  src/features/upload/components/filter/ChartFilter.tsx
  tailwind.config.ts
Labels: 🔨 fix

#66 fix: 업로드 페이지 관련 버그
  src/features/mypage/components/UploadLogTable.tsx
  src/features/upload/components/filter/ChartFilter.tsx
  src/pages/Upload.tsx
Labels: 🐛 bug, 🔨 fix

#68 [#65] fix: 업로드 sort 관련 재수정
  src/features/mypage/components/UploadLogTable.tsx
  src/pages/MyPage.tsx
Labels: 🔨 fix

#82 feat: 로그인, 로그아웃 상세 로직
  src/App.tsx
  src/api/index.ts
  src/components/ProtectedRoute.tsx
  src/features/login/hook/useHandleLoginPost.tsx
  src/features/mypage/api/getUserInfo.ts
  src/layouts/components/Header.tsx
  src/pages/Home.tsx
  src/pages/MyPage.tsx
  src/store/useAuthStore.ts
Labels: ✨ feat

#83 feat: 로그인, 로그아웃 관련 로직 추가
  src/App.tsx
  src/api/index.ts
  src/components/ProtectedRoute.tsx
  src/features/login/hook/useHandleLoginPost.tsx
  src/features/mypage/api/getUserInfo.ts
  src/layouts/components/Header.tsx
  src/pages/Home.tsx
  src/pages/MyPage.tsx
  src/store/useAuthStore.ts
Labels: ✨ feat, 🔨 fix
